################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01.DefiningClasses-Exercise/.vs/DefiningClasses-Exercise/v15
/DefiningClasses-Exercise/.vs/DefiningClasses-Exercise/v15
/Encapsulation-Exercises/.vs/Encapsulation-Exercises/v15/Server/sqlite3
